<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424444172350-62i20pcui474vabdf9eik8l9e4dk6klb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424444172350-62i20pcui474vabdf9eik8l9e4dk6klb</string>
	<key>API_KEY</key>
	<string>AIzaSyDoZ5lxxLo8JdNREpM_LgMkCzO58tRr378</string>
	<key>GCM_SENDER_ID</key>
	<string>424444172350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesflutter</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-notes-0oabce</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-notes-0oabce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424444172350:ios:855bcb1fc6c95bc706596f</string>
</dict>
</plist>