<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwCu40k7EA9JXVf3i8eLPUKb5FaAcX1nI</string>
	<key>GCM_SENDER_ID</key>
	<string>1050563996986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socailmedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-840da</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-840da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050563996986:ios:fd3cd761a8f5701111b403</string>
</dict>
</plist>